* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

.navigation-bar {
  height: 70px;
  background-color: #292d33;
  padding: 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-bar ul li {
  display: inline-block;
  margin-left: 30px;
}

.navigation-bar ul li:hover {
  background-color: darksalmon;
  border-radius: 5px;
}

.navigation-bar a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
}

.navigation-bar i {
  display: none;
  font-size: 30px;
  color: #fff;
}
.page-header {
  text-align: center;
  padding: 50px 80px;
  background-image: url("/assets/media/bg-header.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-header-text {
  background-color: rgba(205, 92, 92, 0.3);
  padding: 20px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}

.page-header-text h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  padding: 15px;
}

.page-header-text a {
  background-color: #292d33;
  text-decoration: none;
  color: white;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
}

.freedom {
  color: white;
}

.home-information-section {
  display: flex;
  gap: 20px;
  padding: 50px 80px;
  background-color: aliceblue;
}

.home-description-first-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  width: 50%;
}

.home-description-first-side-info-header h1 {
  font-size: 30px;
  text-align: center;
  margin: 10px;
  color: dimgray;
  font-family: sans-serif;
}

.home-description-first-side-info-header p {
  margin-bottom: 8px;
  text-align: center;
}

.home-description-first-side-photo img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-description-second-side {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  width: 50%;
}

.home-description-second-side-info-header h1 {
  font-size: 30px;
  text-align: center;
  margin: 10px;
  color: dimgray;
  font-family: sans-serif;
}

.home-description-second-side-info-header p {
  margin-bottom: 8px;
  text-align: center;
}

.home-description-second-side-photo img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-gallery {
  background-color: #ffdcd0;
  padding: 20px 80px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.home-gallery-text {
  font-size: 20px;
  text-align: center;
  color: dimgray;
  font-family: sans-serif;
}

.home-gallery-images-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.home-gallery-images {
  border: 2px solid #ccc;
  background-color: #292d33;
  border-radius: 14px;
  max-width: 400px;
}

.home-gallery-images p {
  color: aliceblue;
}

.home-gallery-images img {
  max-height: 250px;
  width: 100%;
  border-radius: 14px 14px 0 0;
}

.home-gallery-images:hover {
  border: 2px solid #777;
}

.home-gallery-description {
  padding: 15px;
  text-align: center;
}

.break-section {
  height: 200px;
  background-color: #292d33;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.break-section h1 {
  color: white;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.city-header {
  text-align: center;
  background-image: url("/assets/media/paris-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.city-header-overlay {
  background-color: #00000088;
  height: 100%;
  width: 100%;
  padding: 50px 80px;
}

.city-header-overlay h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  color: #ffff;
}

.city-header-side {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}

.city-header-side-info {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.love {
  color: darksalmon;
}

.city-header-side p {
  color: #ffff;
  font-size: 20px;
}

.city-header-side a {
  text-decoration: none;
  font-size: 20px;
  background-color: darksalmon;
  color: #ffff;
  padding: 10px;
  border-radius: 10px;
}

.restaurants {
  background-color: aliceblue;
  padding: 50px 80px;
}

.restaurants h1 {
  font-size: 30px;
  text-align: center;
  color: dimgray;
  font-family: sans-serif;
  padding: 50px 80px;
}

.restaurants-side {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.top-restaurants {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.top-restaurants p {
  font-size: 20px;
  font-family: sans-serif;
  padding: 10px;
  color: indianred;
}

.top-restaurants img {
  border-radius: 15px;
  max-height: 250px;
  max-width: 400px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.second {
  margin-top: 100px;
}

.top-restaurants a {
  text-decoration: none;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightslategrey;
  color: #ffff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  width: 200px;
}

.great-places {
  background-color: lightslategray;
  padding: 50px 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.great-places h1 {
  font-size: 30px;
  text-align: center;
  color: #ffff;
  font-family: sans-serif;
  padding: 50px 80px;
}

.great-places-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.great-places-container-side {
  position: relative;
  max-width: 500px;
}

.great-places-container-side:hover .great-places-container-side-info {
  opacity: 1;
}

.great-places-container-side header h3 {
  font-size: 20px;
  font-family: sans-serif;
  padding: 10px;
  color: aliceblue;
  text-align: center;
}

.great-places-container-side header img {
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.great-places-container-side-info {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 410px;
  max-width: 500px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #292d33;
}

.great-places-container-side-info p {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  transform: translate(-0%, -0%);
  -ms-transform: translate(-0%, -0%);
}

footer {
  height: 100px;
  background-color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .navigation-bar ul {
    display: none;
    padding: 0 20px;
  }

  .navigation-bar i {
    display: block;
    text-align: center;
  }

  .page-header {
    padding: 20px;
  }

  .home-information-section {
    padding: 20px;
    flex-direction: column;
  }
  
  .home-description-first-side {
    width: 100%;
  }

  .home-description-second-side {
    width: 100%;
  }
  
  .home-gallery {
    padding: 20px;
  }

  .break-section {
    padding: 20px;
    text-align: center;
  }
  .city-header-overlay {
    padding: 20px;
  }

  .city-header-side p {
    font-size: 14px;
  }

  .city-header-side a {
    font-size: 14px;
  }

  .restaurants {
    padding: 20px;
  }

  .restaurants h1 {
    padding: 20px 0px;
  }

  .restaurants-side {
    gap: 20px;
  }

  .top-restaurants {
    padding: 20px 20px;
  }

  .second {
    margin: 0;
  }

  .great-places {
    padding: 20px;
  }

  .great-places h1 {
    padding: 20px;
  }
}
